@model IEnumerable<SchoolErp.Models.Admin.Student>

@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/Teacher.cshtml";
}


<div class="page-wrapper">


    <style>
        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }
    </style>

    <div class="page-breadcrumb">

        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Student</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Student</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title m-b-0"><i class="fas fa-users"></i> Student</h5>
                    </div>


                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a href="@Url.Action("CreateStudent", "Student")" class="btn btn btn-dark">
                                            <i class="fas fa-plus-square"></i>
                                            <span>
                                                <strong>Create</strong>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            @using (Html.BeginForm("StudentList", "TeacherClass", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Student Name</label>
                                            @Html.TextBox("searchtxt", null, new { @class = "form-control", @placeholder = "Student Name" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn btn-dark">
                                                <i class="fas fa-search"></i>  Query Table
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }



                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AdmissionNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StudentName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Gender)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdmissionNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>                                     
                                        <td>
                                            <a href="@Url.Action("AssignMark", "TeacherClass", new { id = item.AdmissionNo })" class="btn btn-mini btn-outkine-orange icon-edit bigger-10"><img src="~/assets/48810_user_add_icon.png" /></a>
                                        </td>
                                    </tr>
                                }

                            </table>


                            @{
                                double totalPages = ViewBag.TotalPages;

                                <ul class="pagination">
                                    @if (ViewBag.PageNumber == 1)
                                    {
                                        <li class="active" style="float:left">
                                            @Html.ActionLink("Previous", "StudentList", new { PageNumber = ViewBag.PageNumber })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active" style="float:left">
                                            @Html.ActionLink("Previous", "StudentList", new { PageNumber = ViewBag.PageNumber - 1 })
                                        </li>
                                    }
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        if (i == ViewBag.PageNumber)
                                        {
                                            <li class="active" style="float:left">
                                                @Html.ActionLink(i.ToString(), "StudentList", new { PageNumber = i })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="active" style="float:left">
                                                @Html.ActionLink(i.ToString(), "StudentList", new { PageNumber = i })
                                            </li>
                                        }
                                    }
                                    @if (ViewBag.PageNumber == totalPages)
                                    {
                                        <li class="active" style="float:left">
                                            @Html.ActionLink("Next", "StudentList", new { PageNumber = ViewBag.PageNumber })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active" style="float:left">
                                            @Html.ActionLink("Next", "StudentList", new { PageNumber = ViewBag.PageNumber + 1 })
                                        </li>
                                    }
                                </ul>
                            }






                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>


</div>


@section Scripts
{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        @*function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Employee")/'+id;
            },null );
        }*@
    </script>


}


