@model IEnumerable<SchoolErp.Models.Admin.Student>

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/Admin.cshtml";
}



<div class="page-wrapper">


    <style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
    </style>

    <div class="page-breadcrumb">

        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Student</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Student</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title m-b-0"><i class="fas fa-users"></i> Student</h5>
                    </div>


                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a href="@Url.Action("CreateStudent", "Student")" class="btn btn btn-dark">
                                            <i class="fas fa-plus-square"></i>
                                            <span>
                                                <strong>Create</strong>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            @using (Html.BeginForm("Student", "Student", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Class Level</label>
                                            @Html.TextBox("searchtxt", null, new { @class = "form-control", @placeholder = "Class Level" })
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                       <button type="submit" class="btn btn btn-dark">
                                          <i class="fas fa-search"></i>  Query Table
                                        </button>
                                          </div>
                                        </div>
                                    </div>
                            }


                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th >
                                            @Html.DisplayNameFor(model => model.AdmissionNo)
                                            @*@Html.ActionLink("AdmissionNo", "Student", new { style = "color:white;", SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "AdmissionNo", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StudentName)
                                           @*@Html.ActionLink("Student Name", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "StudentName", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Gender)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.SessionName)
                                            @*@Html.ActionLink("Session", "Student", new { Style = "color:white", SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "SessionName", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ClassLevel)
                                            @*@Html.ActionLink("Class Level", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ClassLevel", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.ClassAphabet)
                                            @*@Html.ActionLink("ClassAphabet", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ClassAphabet", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                                        </th>
                                        <th>
                                         
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdmissionNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentName)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.SessionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassLevel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassAphabet)
                                        </td>


                                        <td>
                                            <a href="@Url.Action("EditStudent", "Student", new { id = item.AdmissionNo })" class="btn btn-mini btn-outkine-orange icon-edit bigger-10"><img src="~/assets/48763_file_edit_icon.png" /></a>
                                            <a href="@Url.Action("StudentDetails", "Student", new { id = item.AdmissionNo })" class="btn btn-mini btn-outkine-orange icon-edit bigger-10"><img src="~/assets/1055031_magnifying_search_view_icon.png" /></a>
                                            <a href="@Url.Action("DeleteFeeType", "Settings", new { id = item.AdmissionNo })" class="btn btn-mini btn-outkine-orange icon-edit bigger-10"><img src="~/assets/616650_bin_delete_garbage_trash_icon.png" /></a>
                                        </td>
                                    </tr>
                                }

                            </table>


                            
                                @{
                                    double totalPages = ViewBag.TotalPages;

                                    <ul class="pagination">

                                        @if (ViewBag.PageNumber == 1)
                                        {
                                            <li class="active" style="float:left">
                                                @Html.ActionLink("Previous", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Username" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber})
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="active" style="float:left">
                                                @Html.ActionLink("Previous", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Username" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })
                                            </li>
                                        }

                                        
                                         
                                        @for (int i = 1; i <= totalPages; i++)
                                        {
                                            if (i == ViewBag.PageNumber)
                                            {
                                                <li class="active" style="float:left">
                                                    @Html.ActionLink(i.ToString(), "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Username" : ViewBag.SortBy, PageNumber = i })
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="active" style="float:left">
                                                    @Html.ActionLink(i.ToString(), "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Username" : ViewBag.SortBy, PageNumber = i })
                                                </li>
                                            }
                                        }
                                        @if (ViewBag.PageNumber == totalPages)
                                        {
                                            <li class="active" style="float:left">
                                                @Html.ActionLink("Next", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Username" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber  })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="active" style="float:left">
                                                @Html.ActionLink("Next", "Student", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Username" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })
                                            </li>
                                        }


                                    </ul>
                                    } 
                                   

                            

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    
</div>


@section Scripts
{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        @*function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Employee")/'+id;
            },null );
        }*@
    </script>


}