@model IEnumerable<SchoolErp.Models.Admin.CollectFee>

@{
    ViewBag.Title = "CollectedFee";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="page-wrapper">

    <div class="page-breadcrumb">

        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Fee</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Fee</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title m-b-0"><i class="fab fa-paypal"></i> Fee</h5>
                    </div>


                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a href="@Url.Action("StudentCollectFee","Fee")" class="btn btn btn-dark">
                                            <i class="fas fa-plus-square"></i>
                                            <span>
                                                <strong>Collect Fee</strong>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>


                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AdmissionNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StudentName)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Session)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Amount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TellerNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Bank)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdmissionNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentName)
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Session)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TellerNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bank)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("PrintFeeReciept","Fee", new { id = item.Id})" class="btn btn-mini btn-outkine-orange icon-edit bigger-10"><img src="~/assets/2620507_employee_job_print_seeker_unemployee_icon.png" /></a>
                                        </td>
                                    </tr>
                                }

                            </table>
                            

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
       
    </script>


}
