@model SchoolErp.Models.Admin.AssignSubject

@{
    ViewBag.Title = "AssignSubject";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Assign Class</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Assign Class</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title m-b-0"><i class="fas fa-arrow-alt-circle-right"></i> Assign Class</h5>
                    </div>

                    <div class="row">
                        <div class=" card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                   
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StaffID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.StaffID, new SelectList(ViewBag.Staff, "StaffID", "Staffname"), "--Select Staff--", new { @class = "form-control" } )
                                            @Html.ValidationMessageFor(model => model.StaffID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                      
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubjectID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.SubjectID, new SelectList(ViewBag.Subject, "SubjectID", "Subjectname"), "--Select Level--", new { @class = "form-control" } )
                                            @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                  
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ClassLevelID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.ClassLevelID, new SelectList(ViewBag.ClassLevel, "LevelID", "Levelname"), "--Select Level--", new { @class = "form-control" } )
                                            @Html.ValidationMessageFor(model => model.ClassLevelID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                  

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Prefix, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Prefix, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>



                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>








<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
